@font-face {
	font-family: 'Feature Deck Web';
	src: url('FeatureDeck-Regular-Web.woff2') format('woff2'),
		 url('FeatureDeck-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	}

.FeatureDeck-Regular-Web {
	font-family: 'Feature Deck Web';
	font-weight: 400;
	font-style: normal;
	}
