@font-face {
	font-family: 'Feature Deck Web';
	src: url('FeatureDeck-BoldItalic-Web.woff2') format('woff2'),
		 url('FeatureDeck-BoldItalic-Web.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	}

.FeatureDeck-BoldItalic-Web {
	font-family: 'Feature Deck Web';
	font-weight: 700;
	font-style: italic;
	}
