@font-face {
	font-family: 'Feature Deck Web';
	src: url('FeatureDeck-MediumItalic-Web.woff2') format('woff2'),
		 url('FeatureDeck-MediumItalic-Web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	}

.FeatureDeck-MediumItalic-Web {
	font-family: 'Feature Deck Web';
	font-weight: 500;
	font-style: italic;
	}
