@import "slick-carousel/slick/slick-theme.css";
@import "slick-carousel/slick/slick.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  min-height: 0;
  min-width: 0;
}

#cms-text-block {
  p {
    @apply text-lg;

    @screen lg {
      @apply text-xl;
    }
    
    &:not(:first-of-type),
    &:not(:last-of-type) {
      @apply my-4;
    }
  }
  strong {
    @apply font-medium;
  }
  h1 {
    @apply font-feature text-4xl;

    @screen lg {
      @apply font-feature text-5xl;
    }
  }
  h2 {
    @apply font-feature text-3xl;

    @screen lg {
      @apply font-feature text-4xl;
    }
  }
  h3 {
    @apply font-feature text-2xl;

    @screen lg {
      @apply font-feature text-3xl;
    }
  }
  h4 {
    @apply text-lg;

    @screen lg {
      @apply text-xl;
    }
  }
  h5 {
    @apply text-sm;

    @screen lg {
      @apply text-base;
    }
  }
  h6 {
    @apply text-xs;

    @screen lg {
      @apply text-sm;
    }
  }
}

.filter-range-slider {
  /* */
}
.filter-range-slider[data-disabled] {
  /* CSS for disabled range slider element */
}
.filter-range-slider .range-slider__range {
  @apply bg-powder #{!important};
}
.filter-range-slider .range-slider__range[data-active] {
  /* CSS for active (actively being dragged) range */
}
.filter-range-slider .range-slider__thumb {
  @apply bg-red w-2 rounded-2xl #{!important};
}
.filter-range-slider .range-slider__thumb[data-lower] {
  /* CSS for lower thumb */
}
.filter-range-slider .range-slider__thumb[data-upper] {
  /* CSS for upper thumb */
}
.filter-range-slider .range-slider__thumb[data-active] {
  /* CSS for active (actively being dragged) thumbs */
}
.filter-range-slider .range-slider__thumb[data-disabled] {
  /* CSS for disabled thumbs */
}

.slick-active button#navigation-link {
  @apply border border-black;
}

.slick-dots .slick-active div {
  @apply bg-black;
}

.product-slider .slick-slide > div {
  @apply mx-2 lg:mx-4;
}
.product-slider .slick-list {
  @apply -mx-2 lg:-mx-4;
}

.progress {
  animation: progress 1s infinite linear;
}

.left-right {
  transform-origin: 0% 50%;
}

@keyframes progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

@layer base {
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Bold-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Bold-Web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Regular-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Regular-Web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Medium-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Medium-Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Light-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Light-Web.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-MediumItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-MediumItalic-Web.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-LightItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-LightItalic-Web.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-BoldItalic-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-BoldItalic-Web.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Extrabold-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Extrabold-Web.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-ExtraboldItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-ExtraboldItalic-Web.woff")
        format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-RegularItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-RegularItalic-Web.woff")
        format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Bold-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Bold-WebM.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Regular-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Regular-WebM.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Medium-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Medium-WebM.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Light-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Light-WebM.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-MediumItalic-WebM.woff2")
        format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-MediumItalic-WebM.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-LightItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-LightItalic-WebM.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-BoldItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-BoldItalic-WebM.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Black-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Black-WebM.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-BlackItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-BlackItalic-WebM.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-RegularItalic-WebM.woff2")
        format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-RegularItalic-WebM.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }
}

#curved-corner:before {
  content: "";
  display: block;
  width: 190%;
  height: 190%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner:before {
  bottom: 0;
  right: 0;
  box-shadow: 50px 50px 0 0 #ffdbd2;
}
