@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  min-height: 0;
  min-width: 0;
}

.slick-active button#navigation-link {
  border: 1px solid #1a1110;
}

.slick-dots .slick-active div {
  @apply bg-black;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

@layer base {
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Bold-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Bold-Web.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Regular-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Regular-Web.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Medium-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Medium-Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Light-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Light-Web.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-MediumItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-MediumItalic-Web.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-LightItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-LightItalic-Web.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-BoldItalic-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-BoldItalic-Web.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-Extrabold-Web.woff2") format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-Extrabold-Web.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-ExtraboldItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-ExtraboldItalic-Web.woff")
        format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Feature Deck Web";
    src:
      url("/fonts/FeatureDeck/FeatureDeck-RegularItalic-Web.woff2")
        format("woff2"),
      url("/fonts/FeatureDeck/FeatureDeck-RegularItalic-Web.woff")
        format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Bold-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Bold-WebM.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Regular-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Regular-WebM.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Medium-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Medium-WebM.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Light-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Light-WebM.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-MediumItalic-WebM.woff2")
        format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-MediumItalic-WebM.woff") format("woff");
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-LightItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-LightItalic-WebM.woff") format("woff");
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-BoldItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-BoldItalic-WebM.woff") format("woff");
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-Black-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-Black-WebM.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-BlackItalic-WebM.woff2") format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-BlackItalic-WebM.woff") format("woff");
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: "Suisse Intl";
    src:
      url("/fonts/SuisseIntl/SuisseIntl-RegularItalic-WebM.woff2")
        format("woff2"),
      url("/fonts/SuisseIntl/SuisseIntl-RegularItalic-WebM.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }
}

#curved-corner:before {
  content: "";
  display: block;
  width: 190%;
  height: 190%;
  position: absolute;
  border-radius: 50%;
}
#curved-corner:before {
  bottom: 0;
  right: 0;
  box-shadow: 50px 50px 0 0 #ffdbd2;
}
